{% extends 'PriceSenseAI/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="about-us-container">
    <h1>About Us</h1>
    <section class="mission-section">
        <h2>Our Mission</h2>
        <p>At Phone_PriceSenseAI, our mission is to leverage cutting-edge technology and data science to provide accurate and reliable mobile phone price predictions. We aim to empower consumers with the information they need to make informed purchasing decisions, and to help businesses understand market trends and price dynamics.</p>
    </section>
    <section class="our-values">
        <h2>Our Values</h2>
        <ul>
            <li><strong>Innovation:</strong> We embrace new technologies and methodologies to stay ahead in the rapidly evolving tech landscape.</li>
            <li><strong>Accuracy:</strong> Our predictions are driven by advanced algorithms and comprehensive data analysis to ensure precision.</li>
            <li><strong>Integrity:</strong> We operate with transparency and honesty, providing our users with trustworthy information.</li>
            <li><strong>Customer Focus:</strong> We prioritize user experience and strive to meet the needs of our diverse customer base.</li>
        </ul>
    </section>
    <section class="team-section">
        <h2>Meet Me</h2>
        <p>Developed by Usman Ali, committed to innovation and excellence.</p>
    </section>
</div>
{% endblock %}
