{% extends 'PriceSenseAI/base.html' %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="contact-us-container">
    <div class="contact-image">
        <img src="{% static 'images/usman_ali.jpg' %}" alt="Usman Ali">
    </div>
    <div class="contact-info">
        <h1>Contact Us</h1>
        <section class="summary">
            <h2>About Me</h2>
            <p>“The data speaks for itself. That’s the easiest measure of success."</p>
            <p> — Caitlin Smallwood</p>

            <p>Having 1 year of experience as a Data Scientist at PRAMA ENTERPRISES.</p>
            <p>Being a data scientist and machine learning engineer, my focus is in analyzing the data and developing ways to improve the efficiency of business choices and customer satisfaction. My approach integrates both inferential statistics and analytics to make sure that the businesses achieve real value of the utilized data as opposed to the hype.</p>
                <p>I am proficient in deep learning, data structures, SQL, and tools such as Power BI hence, I am well-armed when it comes to data analysis and visualization. I am enthusiast about making the concepts of Statistical thinking and measurement of attitudes like Customer and Employee satisfaction easier to understand. My aim is to help organizations to make right decisions and get tangible results with the help of information.</p>
        </section>
        <section class="education">
            <h2>Education</h2>
            <p>Master's of Applied Computing, University of Windsor, Windsor, Ontario (2023 - Present)</p>
            <p>Bachelor's of Science in Computer Science, Riphah International University, Faisalabad, Punjab, Pakistan (2018 - 2022)</p>
        </section>
        <section class="contact-details">
            <h2>Contact Information</h2>
            <p><strong>Phone:</strong> +1-226-961-4829</p>
            <p><strong>Email:</strong> whoisusmanali@gmail.com</p>
        </section>
        <section class="profiles">
            <h2>Find Me Online</h2>
            <a href="https://www.linkedin.com/in/usman-ali-06a6351b1/" class="profile-button">LinkedIn</a>
            <a href="https://github.com/whoisusmanali" class="profile-button">GitHub</a>
            <a href="https://www.kaggle.com/howisusmanali" class="profile-button">Kaggle</a>
            <a href="https://public.tableau.com/app/profile/usman8882/vizzes" class="profile-button">Tableau</a>
            <a href="https://leetcode.com/u/whoisusmanali/" class="profile-button">LeetCode</a>
            <a href="https://platform.stratascratch.com/user/whoisusmanali" class="profile-button">StrataScratch</a>
        </section>
        <section class="projects">
            <h2>Previous Projects</h2>
            <a href="https://homevalueai-g6btghg2bwcjg8e5.northeurope-01.azurewebsites.net/" class="profile-button">HomeValueAI</a>
        </section>
    </div>
</div>
{% endblock %}
