{% extends 'PriceSenseAI/base.html' %}

{% block title %}Phone Price Prediction{% endblock %}

{% block content %}
<div class="form-container">
    <form method="POST" action="{% url 'predict_price' %}">
        {% csrf_token %}
        <label>Company Name:</label>
        <select name="company" required>
            <option value="POCO">POCO</option>
            <option value="realme">realme</option>
            <option value="SAMSUNG">SAMSUNG</option>
            <option value="OPPO">OPPO</option>
            <option value="Google">Google</option>
            <option value="vivo">vivo</option>
            <option value="Nothing">Nothing</option>
            <option value="REDMI">REDMI</option>
            <option value="Mi">Mi</option>
            <option value="Nokia">Nokia</option>
            <option value="MOTOROLA">MOTOROLA</option>
            <option value="OnePlus">OnePlus</option>
            <option value="Huawei">Huawei</option>
            <option value="Nexus">Nexus</option>
            <option value="Alcatel">Alcatel</option>
            <option value="Lenovo">Lenovo</option>
            <option value="Infinix">Infinix</option>
            <!-- Add more companies -->
        </select><br>
        <label>RAM Size (GB):</label>
        <input type="text" name="ram_size" required><br>
        <label>Storage Size (GB):</label>
        <input type="text" name="storage_size" required><br>
        <label>Battery Size (mAh):</label>
        <input type="text" name="battery_size" required><br>
        <label>Rating (out of 5):</label>
        <input type="text" name="rating" required><br>
        <label>Number of Ratings:</label>
        <input type="text" name="num_ratings" required><br>
        <button type="submit">Predict Price</button>
    </form>

    {% if prediction %}
    <section class="prediction-result">
        <p>The predicted price of the phone is: <strong>{{ prediction }} CAD</strong></p>
        <p>Check similar phones on Amazon:
            <a href="https://www.amazon.ca/s?k=smart+phones&i=electronics&rh=n%3A667823011%2Cp_123%3A46655%2Cp_36%3A{{ prediction|floatformat:0 }}-{{ prediction|add:'1000'|floatformat:0 }}&dc&crid=2FQX41QK6QQZE&qid=1725742801&rnid=12035759011&sprefix=Smart%2Caps%2C100&ref=sr_nr_p_36_0_0&field-keywords={{ company }}" class="amazon-link" target="_blank">
                View on Amazon
            </a>
        </p>
    </section>
    {% endif %}
</div>
{% endblock %}
